.ajax-progress {
    display: inline-block;
    padding: 1px 5px 2px 5px
}

[dir="rtl"] .ajax-progress {
    float: right
}

.ajax-progress-throbber .throbber {
    background: transparent url(/core/themes/stable/css/system/components/../../../images/core/throbber-active.gif) no-repeat 0 center;
    display: inline;
    padding: 1px 5px 2px
}

.ajax-progress-throbber .message {
    display: inline;
    padding: 1px 5px 2px
}

tr .ajax-progress-throbber .throbber {
    margin: 0 2px
}

.ajax-progress-bar {
    width: 16em
}

.ajax-progress-fullscreen {
    left: 49%;
    position: fixed;
    top: 48.5%;
    z-index: 1000;
    background-color: #232323;
    background-image: url(/core/themes/stable/css/system/components/../../../images/core/loading-small.gif);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 7px;
    height: 24px;
    opacity: .9;
    padding: 4px;
    width: 24px
}

[dir="rtl"] .ajax-progress-fullscreen {
    left: auto;
    right: 49%
}

.text-align-left {
    text-align: left
}

.text-align-right {
    text-align: right
}

.text-align-center {
    text-align: center
}

.text-align-justify {
    text-align: justify
}

.align-left {
    float: left
}

.align-right {
    float: right
}

.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.js input.form-autocomplete {
    background-image: url(/core/themes/stable/css/system/components/../../../images/core/throbber-inactive.png);
    background-position: 100% center;
    background-repeat: no-repeat
}

.js[dir="rtl"] input.form-autocomplete {
    background-position: 0 center
}

.js input.form-autocomplete.ui-autocomplete-loading {
    background-image: url(/core/themes/stable/css/system/components/../../../images/core/throbber-active.gif);
    background-position: 100% center
}

.js[dir="rtl"] input.form-autocomplete.ui-autocomplete-loading {
    background-position: 0 center
}

.fieldgroup {
    border-width: 0;
    padding: 0
}

.container-inline div,
.container-inline label {
    display: inline
}

.container-inline .details-wrapper {
    display: block
}

.clearfix:after {
    content: "";
    display: table;
    clear: both
}

.js details:not([open]) .details-wrapper {
    display: none
}

.hidden {
    display: none
}

.visually-hidden {
    position: absolute !important;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    height: 1px;
    width: 1px;
    word-wrap: normal
}

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
    position: static !important;
    clip: auto;
    overflow: visible;
    height: auto;
    width: auto
}

.invisible {
    visibility: hidden
}

.item-list__comma-list,
.item-list__comma-list li {
    display: inline
}

.item-list__comma-list {
    margin: 0;
    padding: 0
}

.item-list__comma-list li:after {
    content: ", "
}

.item-list__comma-list li:last-child:after {
    content: ""
}

.js .js-hide {
    display: none
}

.js-show {
    display: none
}

.js .js-show {
    display: block
}

.nowrap {
    white-space: nowrap
}

.position-container {
    position: relative
}

.progress {
    position: relative
}

.progress__track {
    background-color: #fff;
    border: 1px solid;
    margin-top: 5px;
    max-width: 100%;
    min-width: 100px;
    height: 16px
}

.progress__bar {
    background-color: #000;
    height: 1.5em;
    width: 3%;
    min-width: 3%;
    max-width: 100%
}

.progress__description,
.progress__percentage {
    color: #555;
    overflow: hidden;
    font-size: .875em;
    margin-top: .2em
}

.progress__description {
    float: left
}

[dir="rtl"] .progress__description {
    float: right
}

.progress__percentage {
    float: right
}

[dir="rtl"] .progress__percentage {
    float: left
}

.progress--small .progress__track {
    height: 7px
}

.progress--small .progress__bar {
    height: 7px;
    background-size: 20px 20px
}

.reset-appearance {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0 none;
    background: transparent;
    padding: 0;
    margin: 0;
    line-height: inherit
}

.resize-none {
    resize: none
}

.resize-vertical {
    resize: vertical;
    min-height: 2em
}

.resize-horizontal {
    resize: horizontal;
    max-width: 100%
}

.resize-both {
    resize: both;
    max-width: 100%;
    min-height: 2em
}

table.sticky-header {
    background-color: #fff;
    margin-top: 0;
    z-index: 500;
    top: 0
}

.system-status-counter__status-icon {
    display: inline-block;
    height: 25px;
    width: 25px;
    vertical-align: middle
}

.system-status-counter__status-icon:before {
    content: "";
    background-size: 20px;
    background-position: center 2px;
    background-repeat: no-repeat;
    display: block
}

.system-status-counter__status-icon--error:before {
    background-image: url(/core/themes/stable/css/system/components/../../../images/core/icons/e32700/error.svg)
}

.system-status-counter__status-icon--warning:before {
    background-image: url(/core/themes/stable/css/system/components/../../../images/core/icons/e29700/warning.svg)
}

.system-status-counter__status-icon--checked:before {
    background-image: url(/core/themes/stable/css/system/components/../../../images/core/icons/73b355/check.svg)
}

.system-status-report-counters__item {
    width: 100%;
    padding: .5em 0;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, .063);
    margin-bottom: .5em
}

@media screen and (min-width:60em) {
    .system-status-report-counters {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between
    }
    .system-status-report-counters__item--half-width {
        width: 49%
    }
    .system-status-report-counters__item--third-width {
        width: 33%
    }
}

.system-status-general-info__item {
    border: 1px solid #ccc;
    margin-top: 1em;
    padding: 0 1em 1em
}

.system-status-general-info__item-title {
    border-bottom: 1px solid #ccc
}

body.drag {
    cursor: move
}

tr.region-title {
    font-weight: bold
}

tr.region-message {
    color: #999
}

tr.region-populated {
    display: none
}

tr.add-new .tabledrag-changed {
    display: none
}

.draggable a.tabledrag-handle {
    cursor: move;
    float: left;
    height: 1.7em;
    margin-left: -1em;
    overflow: hidden;
    text-decoration: none
}

[dir="rtl"] .draggable a.tabledrag-handle {
    float: right;
    margin-right: -1em;
    margin-left: 0
}

a.tabledrag-handle:hover {
    text-decoration: none
}

a.tabledrag-handle .handle {
    background: url(/core/themes/stable/css/system/components/../../../images/core/icons/787878/move.svg) no-repeat 6px 7px;
    height: 14px;
    margin: -.4em .5em 0;
    padding: .42em .5em;
    width: 14px
}

a.tabledrag-handle:hover .handle,
a.tabledrag-handle:focus .handle {
    background-image: url(/core/themes/stable/css/system/components/../../../images/core/icons/000000/move.svg)
}

.touchevents .draggable td {
    padding: 0 10px
}

.touchevents .draggable .menu-item__link {
    display: inline-block;
    padding: 10px 0
}

.touchevents a.tabledrag-handle {
    height: 44px;
    width: 40px
}

.touchevents a.tabledrag-handle .handle {
    background-position: 40% 19px;
    height: 21px
}

[dir="rtl"] .touch a.tabledrag-handle .handle {
    background-position: right 40% top 19px
}

.touchevents .draggable.drag a.tabledrag-handle .handle {
    background-position: 50% -32px
}

.tabledrag-toggle-weight-wrapper {
    text-align: right
}

[dir="rtl"] .tabledrag-toggle-weight-wrapper {
    text-align: left
}

.indentation {
    float: left;
    height: 1.7em;
    margin: -.4em .2em -.4em -.4em;
    padding: .42em 0 .42em .6em;
    width: 20px
}

[dir="rtl"] .indentation {
    float: right;
    margin: -.4em -.4em -.4em .2em;
    padding: .42em .6em .42em 0
}

.tablesort {
    width: 16px;
    height: 16px;
    display: inline-block;
    background-size: 100%
}

.tablesort--asc {
    background-image: url(/core/themes/stable/css/system/components/../../../images/core/icons/787878/twistie-down.svg)
}

.tablesort--desc {
    background-image: url(/core/themes/stable/css/system/components/../../../images/core/icons/787878/twistie-up.svg)
}

div.tree-child {
    background: url(/core/themes/stable/css/system/components/../../../images/core/tree.png) no-repeat 11px center
}

div.tree-child-last {
    background: url(/core/themes/stable/css/system/components/../../../images/core/tree-bottom.png) no-repeat 11px center
}

[dir="rtl"] div.tree-child,
[dir="rtl"] div.tree-child-last {
    background-position: -65px center
}

div.tree-child-horizontal {
    background: url(/core/themes/stable/css/system/components/../../../images/core/tree.png) no-repeat -11px center
}

.form-type-checkbox .formtips-wrapper {
    display: inline-block
}

.formtip {
    display: inline-block;
    margin-left: .25em;
    background-color: #ccc;
    color: #333;
    border-radius: 50%;
    width: 1.2em;
    height: 1.2em;
    line-height: 1.2em;
    font-size: .7em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    letter-spacing: normal
}

.formtip::before {
    content: '?';
    color: #fff
}

.formtips-processed:not(.formtips-show) {
    display: none !important
}

.formtips-processed.formtips-show {
    display: block
}

.description.formtips-processed p {
    margin-bottom: 0
}

#debts-wrapper #edit-debts #edit-debts--description {
    position: absolute !important
}

#debts-wrapper #edit-debts #edit-debts--description:before {
    display: none !important
}

.views-align-left {
    text-align: left
}

.views-align-right {
    text-align: right
}

.views-align-center {
    text-align: center
}

.views-view-grid .views-col {
    float: left
}

.views-view-grid .views-row {
    clear: both;
    float: left;
    width: 100%
}

.ui-helper-hidden {
    display: none
}

.ui-helper-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}

.ui-helper-reset {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    line-height: 1.3;
    text-decoration: none;
    font-size: 100%;
    list-style: none
}

.ui-helper-clearfix:before,
.ui-helper-clearfix:after {
    content: "";
    display: table;
    border-collapse: collapse
}

.ui-helper-clearfix:after {
    clear: both
}

.ui-helper-zfix {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    opacity: 0;
    filter: Alpha(Opacity=0)
}

.ui-front {
    z-index: 100
}

.ui-state-disabled {
    cursor: default !important;
    pointer-events: none
}

.ui-icon {
    display: inline-block;
    vertical-align: middle;
    margin-top: -.25em;
    position: relative;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat
}

.ui-widget-icon-block {
    left: 50%;
    margin-left: -8px;
    display: block
}

.ui-widget-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.ui-resizable {
    position: relative
}

.ui-resizable-handle {
    position: absolute;
    font-size: .1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none
}

.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0
}

.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0
}

.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%
}

.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%
}

.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px
}

.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px
}

.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px
}

.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px
}

.footermap {
    margin: 0 auto;
    padding: 0;
    border: 0
}

.footermap-col {
    display: inline-block;
    margin: 0 1em;
    vertical-align: top;
    padding: 0 5px
}

.footermap-col-heading {
    text-align: center
}

.footermap-item {
    display: block;
    list-style: none inside none
}

.ui-widget {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em
}

.ui-widget .ui-widget {
    font-size: 1em
}

.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em
}

.ui-widget.ui-widget-content {
    border: 1px solid #c5c5c5
}

.ui-widget-content {
    border: 1px solid #ddd;
    background: #fff;
    color: #333
}

.ui-widget-content a {
    color: #333
}

.ui-widget-header {
    border: 1px solid #ddd;
    background: #e9e9e9;
    color: #333;
    font-weight: bold
}

.ui-widget-header a {
    color: #333
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
    border: 1px solid #c5c5c5;
    background: #f6f6f6;
    font-weight: normal;
    color: #454545
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited,
a.ui-button,
a:link.ui-button,
a:visited.ui-button,
.ui-button {
    color: #454545;
    text-decoration: none
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus,
.ui-button:hover,
.ui-button:focus {
    border: 1px solid #ccc;
    background: #ededed;
    font-weight: normal;
    color: #2b2b2b
}

.ui-state-hover a,
.ui-state-hover a:hover,
.ui-state-hover a:link,
.ui-state-hover a:visited,
.ui-state-focus a,
.ui-state-focus a:hover,
.ui-state-focus a:link,
.ui-state-focus a:visited,
a.ui-button:hover,
a.ui-button:focus {
    color: #2b2b2b;
    text-decoration: none
}

.ui-visual-focus {
    box-shadow: 0 0 3px 1px #5e9ed6
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid #003eff;
    background: #007fff;
    font-weight: normal;
    color: #fff
}

.ui-icon-background,
.ui-state-active .ui-icon-background {
    border: #003eff;
    background-color: #fff
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: #fff;
    text-decoration: none
}

.ui-state-highlight,
.ui-widget-content .ui-state-highlight,
.ui-widget-header .ui-state-highlight {
    border: 1px solid #dad55e;
    background: #fffa90;
    color: #777620
}

.ui-state-checked {
    border: 1px solid #dad55e;
    background: #fffa90
}

.ui-state-highlight a,
.ui-widget-content .ui-state-highlight a,
.ui-widget-header .ui-state-highlight a {
    color: #777620
}

.ui-state-error,
.ui-widget-content .ui-state-error,
.ui-widget-header .ui-state-error {
    border: 1px solid #f1a899;
    background: #fddfdf;
    color: #5f3f3f
}

.ui-state-error a,
.ui-widget-content .ui-state-error a,
.ui-widget-header .ui-state-error a {
    color: #5f3f3f
}

.ui-state-error-text,
.ui-widget-content .ui-state-error-text,
.ui-widget-header .ui-state-error-text {
    color: #5f3f3f
}

.ui-priority-primary,
.ui-widget-content .ui-priority-primary,
.ui-widget-header .ui-priority-primary {
    font-weight: bold
}

.ui-priority-secondary,
.ui-widget-content .ui-priority-secondary,
.ui-widget-header .ui-priority-secondary {
    opacity: .7;
    filter: Alpha(Opacity=70);
    font-weight: normal
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
    opacity: .35;
    filter: Alpha(Opacity=35);
    background-image: none
}

.ui-state-disabled .ui-icon {
    filter: Alpha(Opacity=35)
}

.ui-icon {
    width: 16px;
    height: 16px
}

.ui-icon,
.ui-widget-content .ui-icon {
    background-image: url("/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_444444_256x240.png")
}

.ui-widget-header .ui-icon {
    background-image: url("/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_444444_256x240.png")
}

.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:hover .ui-icon,
.ui-button:focus .ui-icon {
    background-image: url("/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_555555_256x240.png")
}

.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
    background-image: url("/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_ffffff_256x240.png")
}

.ui-state-highlight .ui-icon,
.ui-button .ui-state-highlight.ui-icon {
    background-image: url("/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_777620_256x240.png")
}

.ui-state-error .ui-icon,
.ui-state-error-text .ui-icon {
    background-image: url("/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_cc0000_256x240.png")
}

.ui-button .ui-icon {
    background-image: url("/core/assets/vendor/jquery.ui/themes/base/images/ui-icons_777777_256x240.png")
}

.ui-icon-blank {
    background-position: 16px 16px
}

.ui-icon-caret-1-n {
    background-position: 0 0
}

.ui-icon-caret-1-ne {
    background-position: -16px 0
}

.ui-icon-caret-1-e {
    background-position: -32px 0
}

.ui-icon-caret-1-se {
    background-position: -48px 0
}

.ui-icon-caret-1-s {
    background-position: -65px 0
}

.ui-icon-caret-1-sw {
    background-position: -80px 0
}

.ui-icon-caret-1-w {
    background-position: -96px 0
}

.ui-icon-caret-1-nw {
    background-position: -112px 0
}

.ui-icon-caret-2-n-s {
    background-position: -128px 0
}

.ui-icon-caret-2-e-w {
    background-position: -144px 0
}

.ui-icon-triangle-1-n {
    background-position: 0 -16px
}

.ui-icon-triangle-1-ne {
    background-position: -16px -16px
}

.ui-icon-triangle-1-e {
    background-position: -32px -16px
}

.ui-icon-triangle-1-se {
    background-position: -48px -16px
}

.ui-icon-triangle-1-s {
    background-position: -65px -16px
}

.ui-icon-triangle-1-sw {
    background-position: -80px -16px
}

.ui-icon-triangle-1-w {
    background-position: -96px -16px
}

.ui-icon-triangle-1-nw {
    background-position: -112px -16px
}

.ui-icon-triangle-2-n-s {
    background-position: -128px -16px
}

.ui-icon-triangle-2-e-w {
    background-position: -144px -16px
}

.ui-icon-arrow-1-n {
    background-position: 0 -32px
}

.ui-icon-arrow-1-ne {
    background-position: -16px -32px
}

.ui-icon-arrow-1-e {
    background-position: -32px -32px
}

.ui-icon-arrow-1-se {
    background-position: -48px -32px
}

.ui-icon-arrow-1-s {
    background-position: -65px -32px
}

.ui-icon-arrow-1-sw {
    background-position: -80px -32px
}

.ui-icon-arrow-1-w {
    background-position: -96px -32px
}

.ui-icon-arrow-1-nw {
    background-position: -112px -32px
}

.ui-icon-arrow-2-n-s {
    background-position: -128px -32px
}

.ui-icon-arrow-2-ne-sw {
    background-position: -144px -32px
}

.ui-icon-arrow-2-e-w {
    background-position: -160px -32px
}

.ui-icon-arrow-2-se-nw {
    background-position: -176px -32px
}

.ui-icon-arrowstop-1-n {
    background-position: -192px -32px
}

.ui-icon-arrowstop-1-e {
    background-position: -208px -32px
}

.ui-icon-arrowstop-1-s {
    background-position: -224px -32px
}

.ui-icon-arrowstop-1-w {
    background-position: -240px -32px
}

.ui-icon-arrowthick-1-n {
    background-position: 1px -48px
}

.ui-icon-arrowthick-1-ne {
    background-position: -16px -48px
}

.ui-icon-arrowthick-1-e {
    background-position: -32px -48px
}

.ui-icon-arrowthick-1-se {
    background-position: -48px -48px
}

.ui-icon-arrowthick-1-s {
    background-position: -64px -48px
}

.ui-icon-arrowthick-1-sw {
    background-position: -80px -48px
}

.ui-icon-arrowthick-1-w {
    background-position: -96px -48px
}

.ui-icon-arrowthick-1-nw {
    background-position: -112px -48px
}

.ui-icon-arrowthick-2-n-s {
    background-position: -128px -48px
}

.ui-icon-arrowthick-2-ne-sw {
    background-position: -144px -48px
}

.ui-icon-arrowthick-2-e-w {
    background-position: -160px -48px
}

.ui-icon-arrowthick-2-se-nw {
    background-position: -176px -48px
}

.ui-icon-arrowthickstop-1-n {
    background-position: -192px -48px
}

.ui-icon-arrowthickstop-1-e {
    background-position: -208px -48px
}

.ui-icon-arrowthickstop-1-s {
    background-position: -224px -48px
}

.ui-icon-arrowthickstop-1-w {
    background-position: -240px -48px
}

.ui-icon-arrowreturnthick-1-w {
    background-position: 0 -64px
}

.ui-icon-arrowreturnthick-1-n {
    background-position: -16px -64px
}

.ui-icon-arrowreturnthick-1-e {
    background-position: -32px -64px
}

.ui-icon-arrowreturnthick-1-s {
    background-position: -48px -64px
}

.ui-icon-arrowreturn-1-w {
    background-position: -64px -64px
}

.ui-icon-arrowreturn-1-n {
    background-position: -80px -64px
}

.ui-icon-arrowreturn-1-e {
    background-position: -96px -64px
}

.ui-icon-arrowreturn-1-s {
    background-position: -112px -64px
}

.ui-icon-arrowrefresh-1-w {
    background-position: -128px -64px
}

.ui-icon-arrowrefresh-1-n {
    background-position: -144px -64px
}

.ui-icon-arrowrefresh-1-e {
    background-position: -160px -64px
}

.ui-icon-arrowrefresh-1-s {
    background-position: -176px -64px
}

.ui-icon-arrow-4 {
    background-position: 0 -80px
}

.ui-icon-arrow-4-diag {
    background-position: -16px -80px
}

.ui-icon-extlink {
    background-position: -32px -80px
}

.ui-icon-newwin {
    background-position: -48px -80px
}

.ui-icon-refresh {
    background-position: -64px -80px
}

.ui-icon-shuffle {
    background-position: -80px -80px
}

.ui-icon-transfer-e-w {
    background-position: -96px -80px
}

.ui-icon-transferthick-e-w {
    background-position: -112px -80px
}

.ui-icon-folder-collapsed {
    background-position: 0 -96px
}

.ui-icon-folder-open {
    background-position: -16px -96px
}

.ui-icon-document {
    background-position: -32px -96px
}

.ui-icon-document-b {
    background-position: -48px -96px
}

.ui-icon-note {
    background-position: -64px -96px
}

.ui-icon-mail-closed {
    background-position: -80px -96px
}

.ui-icon-mail-open {
    background-position: -96px -96px
}

.ui-icon-suitcase {
    background-position: -112px -96px
}

.ui-icon-comment {
    background-position: -128px -96px
}

.ui-icon-person {
    background-position: -144px -96px
}

.ui-icon-print {
    background-position: -160px -96px
}

.ui-icon-trash {
    background-position: -176px -96px
}

.ui-icon-locked {
    background-position: -192px -96px
}

.ui-icon-unlocked {
    background-position: -208px -96px
}

.ui-icon-bookmark {
    background-position: -224px -96px
}

.ui-icon-tag {
    background-position: -240px -96px
}

.ui-icon-home {
    background-position: 0 -112px
}

.ui-icon-flag {
    background-position: -16px -112px
}

.ui-icon-calendar {
    background-position: -32px -112px
}

.ui-icon-cart {
    background-position: -48px -112px
}

.ui-icon-pencil {
    background-position: -64px -112px
}

.ui-icon-clock {
    background-position: -80px -112px
}

.ui-icon-disk {
    background-position: -96px -112px
}

.ui-icon-calculator {
    background-position: -112px -112px
}

.ui-icon-zoomin {
    background-position: -128px -112px
}

.ui-icon-zoomout {
    background-position: -144px -112px
}

.ui-icon-search {
    background-position: -160px -112px
}

.ui-icon-wrench {
    background-position: -176px -112px
}

.ui-icon-gear {
    background-position: -192px -112px
}

.ui-icon-heart {
    background-position: -208px -112px
}

.ui-icon-star {
    background-position: -224px -112px
}

.ui-icon-link {
    background-position: -240px -112px
}

.ui-icon-cancel {
    background-position: 0 -128px
}

.ui-icon-plus {
    background-position: -16px -128px
}

.ui-icon-plusthick {
    background-position: -32px -128px
}

.ui-icon-minus {
    background-position: -48px -128px
}

.ui-icon-minusthick {
    background-position: -64px -128px
}

.ui-icon-close {
    background-position: -80px -128px
}

.ui-icon-closethick {
    background-position: -96px -128px
}

.ui-icon-key {
    background-position: -112px -128px
}

.ui-icon-lightbulb {
    background-position: -128px -128px
}

.ui-icon-scissors {
    background-position: -144px -128px
}

.ui-icon-clipboard {
    background-position: -160px -128px
}

.ui-icon-copy {
    background-position: -176px -128px
}

.ui-icon-contact {
    background-position: -192px -128px
}

.ui-icon-image {
    background-position: -208px -128px
}

.ui-icon-video {
    background-position: -224px -128px
}

.ui-icon-script {
    background-position: -240px -128px
}

.ui-icon-alert {
    background-position: 0 -144px
}

.ui-icon-info {
    background-position: -16px -144px
}

.ui-icon-notice {
    background-position: -32px -144px
}

.ui-icon-help {
    background-position: -48px -144px
}

.ui-icon-check {
    background-position: -64px -144px
}

.ui-icon-bullet {
    background-position: -80px -144px
}

.ui-icon-radio-on {
    background-position: -96px -144px
}

.ui-icon-radio-off {
    background-position: -112px -144px
}

.ui-icon-pin-w {
    background-position: -128px -144px
}

.ui-icon-pin-s {
    background-position: -144px -144px
}

.ui-icon-play {
    background-position: 0 -160px
}

.ui-icon-pause {
    background-position: -16px -160px
}

.ui-icon-seek-next {
    background-position: -32px -160px
}

.ui-icon-seek-prev {
    background-position: -48px -160px
}

.ui-icon-seek-end {
    background-position: -64px -160px
}

.ui-icon-seek-start {
    background-position: -80px -160px
}

.ui-icon-seek-first {
    background-position: -80px -160px
}

.ui-icon-stop {
    background-position: -96px -160px
}

.ui-icon-eject {
    background-position: -112px -160px
}

.ui-icon-volume-off {
    background-position: -128px -160px
}

.ui-icon-volume-on {
    background-position: -144px -160px
}

.ui-icon-power {
    background-position: 0 -176px
}

.ui-icon-signal-diag {
    background-position: -16px -176px
}

.ui-icon-signal {
    background-position: -32px -176px
}

.ui-icon-battery-0 {
    background-position: -48px -176px
}

.ui-icon-battery-1 {
    background-position: -64px -176px
}

.ui-icon-battery-2 {
    background-position: -80px -176px
}

.ui-icon-battery-3 {
    background-position: -96px -176px
}

.ui-icon-circle-plus {
    background-position: 0 -192px
}

.ui-icon-circle-minus {
    background-position: -16px -192px
}

.ui-icon-circle-close {
    background-position: -32px -192px
}

.ui-icon-circle-triangle-e {
    background-position: -48px -192px
}

.ui-icon-circle-triangle-s {
    background-position: -64px -192px
}

.ui-icon-circle-triangle-w {
    background-position: -80px -192px
}

.ui-icon-circle-triangle-n {
    background-position: -96px -192px
}

.ui-icon-circle-arrow-e {
    background-position: -112px -192px
}

.ui-icon-circle-arrow-s {
    background-position: -128px -192px
}

.ui-icon-circle-arrow-w {
    background-position: -144px -192px
}

.ui-icon-circle-arrow-n {
    background-position: -160px -192px
}

.ui-icon-circle-zoomin {
    background-position: -176px -192px
}

.ui-icon-circle-zoomout {
    background-position: -192px -192px
}

.ui-icon-circle-check {
    background-position: -208px -192px
}

.ui-icon-circlesmall-plus {
    background-position: 0 -208px
}

.ui-icon-circlesmall-minus {
    background-position: -16px -208px
}

.ui-icon-circlesmall-close {
    background-position: -32px -208px
}

.ui-icon-squaresmall-plus {
    background-position: -48px -208px
}

.ui-icon-squaresmall-minus {
    background-position: -64px -208px
}

.ui-icon-squaresmall-close {
    background-position: -80px -208px
}

.ui-icon-grip-dotted-vertical {
    background-position: 0 -224px
}

.ui-icon-grip-dotted-horizontal {
    background-position: -16px -224px
}

.ui-icon-grip-solid-vertical {
    background-position: -32px -224px
}

.ui-icon-grip-solid-horizontal {
    background-position: -48px -224px
}

.ui-icon-gripsmall-diagonal-se {
    background-position: -64px -224px
}

.ui-icon-grip-diagonal-se {
    background-position: -80px -224px
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-left,
.ui-corner-tl {
    border-top-left-radius: 3px
}

.ui-corner-all,
.ui-corner-top,
.ui-corner-right,
.ui-corner-tr {
    border-top-right-radius: 3px
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-left,
.ui-corner-bl {
    border-bottom-left-radius: 3px
}

.ui-corner-all,
.ui-corner-bottom,
.ui-corner-right,
.ui-corner-br {
    border-bottom-right-radius: 3px
}

.ui-widget-overlay {
    background: #aaa;
    opacity: .3;
    filter: Alpha(Opacity=30)
}

.ui-widget-shadow {
    -webkit-box-shadow: 0 0 5px #666;
    box-shadow: 0 0 5px #666
}

#better-messages-default {
    z-index: 999
}

#better-messages-default #messages-inner {
    position: relative;
    width: 100%
}

#better-messages-default .messages-label {
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
    margin-bottom: 3px;
    padding: 5px 10px;
    text-transform: uppercase
}

#better-messages-default table {
    width: 100%;
    background: transparent !important
}

#better-messages-default table,
#better-messages-default tbody,
#better-messages-default td {
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    border: 0 !important
}

#better-messages-default .tl,
#better-messages-default .tr,
#better-messages-default .bl,
#better-messages-default .br {
    height: 10px;
    overflow: hidden;
    padding: 0;
    width: 10px
}

#better-messages-default .body {
    background-color: #fff;
    padding: 5px
}

#better-messages-default .footer {
    border-top: 1px solid #ddd;
    margin-top: 10px;
    padding-top: 5px;
    text-align: right
}

#better-messages-default .b {
    background: transparent url(/modules/better_messages/css/../images/b.png) repeat
}

#better-messages-default .tl {
    background: transparent url(/modules/better_messages/css/../images/tl.png) repeat
}

#better-messages-default .tr {
    background: transparent url(/modules/better_messages/css/../images/tr.png) repeat
}

#better-messages-default .br {
    background: transparent url(/modules/better_messages/css/../images/br.png) repeat
}

#better-messages-default .bl {
    background: transparent url(/modules/better_messages/css/../images/bl.png) repeat
}

#better-messages-default a.message-close {
    background: transparent url(/modules/better_messages/css/../images/closelabel.gif) no-repeat;
    display: block;
    float: right;
    height: 22px;
    width: 66px
}

#better-messages-default span.message-timer {
    float: left;
    line-height: 22px
}

#better-messages-default .messages {
    padding: 10px 0 10px 45px;
    margin-bottom: 5px;
    overflow: auto;
    max-height: 400px
}

#better-messages-default div.status {
    background: transparent url(/modules/better_messages/css/../images/status.png) no-repeat 5px 5px;
    border: 1px solid #7d7
}

#better-messages-default div.error {
    background: transparent url(/modules/better_messages/css/../images/error.png) no-repeat 5px 5px;
    border: 1px solid #d77
}

#better-messages-default div.warning {
    background: transparent url(/modules/better_messages/css/../images/warning.png) no-repeat 5px 5px;
    border: 1px solid #f0c020
}

h2.error {
    background-color: #d77
}

h2.warning {
    background-color: #f0c020
}

h2.status {
    background-color: #7d7
}

.irs {
    display: block;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none
}

.irs-line {
    display: block;
    position: absolute;
    overflow: hidden;
    outline: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto
}

.irs-line-left,
.irs-line-mid,
.irs-line-right {
    display: block
}

.irs-line-left {
    display: none;
    width: 0;
    left: 0
}

.irs-line-mid {
    width: 100%;
    left: 0
}

.irs-line-right {
    display: none;
    width: 0;
    right: 0
}

.irs-bar {
    display: block;
    width: 0;
    position: absolute;
    left: 0
}

.irs-bar-edge {
    display: block;
    position: absolute;
    top: 0;
    left: 0
}

.irs-shadow {
    display: none;
    width: 0;
    position: absolute;
    left: 0
}

.irs-slider {
    display: block;
    width: 34px;
    height: 34px;
    margin: auto;
    background-color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    cursor: pointer;
    -webkit-animation: pulse 1.7s infinite;
    animation: pulse 1.7s infinite;
    border-radius: 100px;
    border: 5px solid #00acc1;
    -webkit-box-shadow: 0 0 0 rgba(88, 169, 128, .5);
    box-shadow: 0 0 0 rgba(88, 169, 128, .5)
}

.irs-slider.state_hover,
.irs-slider:hover {
    background-position: -11px -115px;
    -webkit-animation: none;
    animation: none;
    background-position: 0 -150px
}

.irs-slider.type_last {
    z-index: 2
}

.pulse {
    display: block;
    width: 22px;
    height: 22px;
    margin: 100px;
    background: #cca92c;
    cursor: pointer;
    -webkit-animation: pulse 2s infinite;
    animation: pulse 2s infinite;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 0 #58a980;
    box-shadow: 0 0 0 #58a980
}

.pulse:hover {
    -webkit-animation: none;
    animation: none
}

.irs-min {
    display: block;
    position: absolute;
    left: 0;
    cursor: default
}

.irs-max {
    display: block;
    position: absolute;
    right: 0;
    cursor: default
}

.irs-from,
.irs-to,
.irs-single {
    display: block;
    font-family: "Montserrat Thin";
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    white-space: nowrap
}

.path-application .irs-to,
.path-application .irs-from,
.path-application .irs-single,
[class$='path-ansoeg-om-forbrugslaan-sektion-to'] .irs-to,
[class$='path-ansoeg-om-forbrugslaan-sektion-to'] .irs-from,
[class$='path-ansoeg-om-forbrugslaan-sektion-to'] .irs-single,
[class*=' path-ansoeg-om-forbrugslaan-sektion-to'] .irs-to,
[class*=' path-ansoeg-om-forbrugslaan-sektion-to'] .irs-from,
[class*=' path-ansoeg-om-forbrugslaan-sektion-to'] .irs-single {
    top: -141px
}

.path-application a.apply-loan,
[class$='path-ansoeg-om-forbrugslaan-sektion-to'] a.apply-loan,
[class*=' path-ansoeg-om-forbrugslaan-sektion-to'] a.apply-loan {
    display: none
}

.irs-grid {
    display: none;
    width: 100%;
    height: 20px;
    position: absolute;
    bottom: 0;
    left: 0
}

.irs-with-grid .irs-grid {
    display: block
}

.irs-grid-pol {
    width: 1px;
    height: 8px;
    background: #000;
    position: absolute;
    top: 0;
    left: 0
}

.irs-grid-pol.small {
    height: 4px
}

.irs-grid-text {
    padding: 0 3px;
    color: #000;
    font-size: 12px;
    line-height: 9px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
    white-space: nowrap
}

.irs-disable-mask {
    display: block;
    width: 102%;
    height: 100%;
    background: transparent;
    position: absolute;
    z-index: 2;
    top: 0;
    left: -1%;
    cursor: default
}

.irs-disabled {
    opacity: .4
}

.lt-ie9 .irs-disabled {
    filter: alpha(opacity=40)
}

.irs-hidden-input {
    display: block !important;
    width: 0 !important;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    background: none !important;
    font-size: 0 !important;
    line-height: 0 !important;
    position: absolute !important;
    z-index: -9999 !important;
    top: 0 !important;
    left: 0 !important;
    border-style: solid !important;
    border-color: transparent !important;
    outline: 0 !important
}

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-bar,
.irs-bar-edge {
    background: url(/modules/lendme_sliders/css/../images/sprite.png) repeat-x
}

.irs {
    height: 40px
}

.irs-with-grid {
    height: 60px
}

.irs-line {
    height: 8px
}

.irs-line-left {
    height: 8px;
    background-position: 0 -30px
}

.irs-line-mid {
    height: 8px;
    background-position: 0 0
}

.irs-line-right {
    height: 8px;
    background-position: 100% -30px
}

.irs-bar {
    height: 8px;
    background-position: 0 -60px;
    top: 0;
    bottom: 0;
    margin: auto
}

.irs-bar-edge {
    width: 18px;
    height: 8px;
    background-position: 0 -60px;
    top: 0;
    bottom: 0;
    margin: auto
}

.irs-shadow {
    height: 1px;
    background: #000;
    top: 34px;
    opacity: .15
}

.lt-ie9 .irs-shadow {
    filter: alpha(opacity=15)
}

.irs-min,
.irs-max {
    color: #99a4ac;
    font-family: "Montserrat Light";
    font-size: 10px;
    line-height: 1.333;
    bottom: -13px;
    visibility: visible !important;
    text-shadow: none
}

.lt-ie9 .irs-min,
.lt-ie9 .irs-max {
    background: #ccc
}

.irs-from,
.irs-to,
.irs-single {
    width: 100%;
    color: #3e6675;
    font-size: 40px;
    line-height: normal;
    position: relative;
    top: -177px;
    left: 0 !important;
    text-align: center
}

.lt-ie9 .irs-from,
.lt-ie9 .irs-to,
.lt-ie9 .irs-single {
    background: #999
}

.irs-grid-pol {
    background: #99a4ac
}

.irs-grid-text {
    color: #99a4ac
}

.slider-container {
    width: 100%;
    min-height: 200px;
    padding: 20px;
    background: rgba(234, 239, 242, .28);
    color: #3d6675;
    font-family: "Montserrat Light";
    font-size: 16px;
    text-align: center
}

.slider-container~.disclaimer {
    margin-bottom: 30px;
    padding: 2px 8%;
    background-color: #eaeff2;
    color: #9aaab3;
    font-size: 13px;
    text-align: center
}

.slider-container~.disclaimer p {
    margin: 15px 0;
    color: inherit;
    font-family: "Montserrat Light";
    font-size: inherit;
    line-height: 1.5em
}

.slider-container~.disclaimer p span {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px
}

.slide-title {
    font-family: "Montserrat Light";
    font-size: 16px
}

.path-laan #block-sliders,
.path-frontpage #block-sliders {
    -webkit-box-shadow: 0 1px #dadee1;
    box-shadow: 0 1px #dadee1
}

.path-laan .slide-title,
.path-frontpage .slide-title {
    font-family: "Montserrat Regular";
    font-size: 16px;
    color: #656565
}

.path-laan .result-of-slider span,
.path-laan .irs-single,
.path-frontpage .result-of-slider span,
.path-frontpage .irs-single {
    font-family: "Montserrat Light";
    color: #656565
}

.path-laan .slider-container~.disclaimer,
.path-frontpage .slider-container~.disclaimer {
    background-color: #e1e1e1;
    margin-bottom: 0;
    position: relative
}

.path-laan .slider-container~.disclaimer:after,
.path-frontpage .slider-container~.disclaimer:after {
    display: block;
    content: 'a';
    width: 30px;
    height: 15px;
    margin-left: -10px;
    color: #e1e1e1;
    font: 1.875em 'lendme';
    position: absolute;
    right: 49%;
    bottom: -6px
}

.path-laan #btn-scrollto-apply,
.path-frontpage #btn-scrollto-apply {
    display: none
}

.path-laan .slider-container div.grid-1-3:nth-of-type(3),
.path-frontpage .slider-container div.grid-1-3:nth-of-type(3) {
    padding-top: 45px
}

@-webkit-keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(88, 169, 128, .4);
        box-shadow: 0 0 0 0 rgba(88, 169, 128, .4)
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(88, 169, 128, 0);
        box-shadow: 0 0 0 20px rgba(88, 169, 128, 0)
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(88, 169, 128, 0);
        box-shadow: 0 0 0 0 rgba(88, 169, 128, 0)
    }
}

@keyframes pulse {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(88, 169, 128, .4);
        box-shadow: 0 0 0 0 rgba(88, 169, 128, .4)
    }
    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(88, 169, 128, 0);
        box-shadow: 0 0 0 20px rgba(88, 169, 128, 0)
    }
    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(88, 169, 128, 0);
        box-shadow: 0 0 0 0 rgba(88, 169, 128, 0)
    }
}
