.ajax-progress{display:inline-block;padding:1px 5px 2px 5px}[dir="rtl"] .ajax-progress{float:right}.ajax-progress-throbber .throbber{display:inline;padding:1px 5px 2px;background:transparent url(/core/themes/stable/css/system/components/../../../images/core/throbber-active.gif) no-repeat 0 center}.ajax-progress-throbber .message{display:inline;padding:1px 5px 2px}tr .ajax-progress-throbber .throbber{margin:0 2px}.ajax-progress-bar{width:16em}.ajax-progress-fullscreen{position:fixed;z-index:1000;top:48.5%;left:49%;width:24px;height:24px;padding:4px;opacity:.9;border-radius:7px;background-color:#232323;background-image:url(/core/themes/stable/css/system/components/../../../images/core/loading-small.gif);background-repeat:no-repeat;background-position:center center}[dir="rtl"] .ajax-progress-fullscreen{right:49%;left:auto}
.text-align-left{text-align:left}.text-align-right{text-align:right}.text-align-center{text-align:center}.text-align-justify{text-align:justify}.align-left{float:left}.align-right{float:right}.align-center{display:block;margin-right:auto;margin-left:auto}
.js input.form-autocomplete{background-image:url(/core/themes/stable/css/system/components/../../../images/core/throbber-inactive.png);background-repeat:no-repeat;background-position:100% center}.js[dir="rtl"] input.form-autocomplete{background-position:0 center}.js input.form-autocomplete.ui-autocomplete-loading{background-image:url(/core/themes/stable/css/system/components/../../../images/core/throbber-active.gif);background-position:100% center}.js[dir="rtl"] input.form-autocomplete.ui-autocomplete-loading{background-position:0 center}
.fieldgroup{padding:0;border-width:0}
.container-inline div,.container-inline label{display:inline}.container-inline .details-wrapper{display:block}
.clearfix:after{display:table;clear:both;content:""}
.js details:not([open]) .details-wrapper{display:none}
.hidden{display:none}.visually-hidden{position:absolute !important;overflow:hidden;clip:rect(1px,1px,1px,1px);width:1px;height:1px;word-wrap:normal}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;overflow:visible;clip:auto;width:auto;height:auto}.invisible{visibility:hidden}
.item-list__comma-list,.item-list__comma-list li{display:inline}.item-list__comma-list{margin:0;padding:0}.item-list__comma-list li:after{content:", "}.item-list__comma-list li:last-child:after{content:""}
.js .js-hide{display:none}.js-show{display:none}.js .js-show{display:block}
.nowrap{white-space:nowrap}
.position-container{position:relative}
.progress{position:relative}.progress__track{min-width:100px;max-width:100%;height:16px;margin-top:5px;border:1px solid;background-color:#fff}.progress__bar{width:3%;min-width:3%;max-width:100%;height:1.5em;background-color:#000}.progress__description,.progress__percentage{overflow:hidden;margin-top:.2em;color:#555;font-size:.875em}.progress__description{float:left}[dir="rtl"] .progress__description{float:right}.progress__percentage{float:right}[dir="rtl"] .progress__percentage{float:left}.progress--small .progress__track{height:7px}.progress--small .progress__bar{height:7px;background-size:20px 20px}
.reset-appearance{margin:0;padding:0;border:0 none;background:transparent;line-height:inherit;-webkit-appearance:none;-moz-appearance:none;appearance:none}
.resize-none{resize:none}.resize-vertical{min-height:2em;resize:vertical}.resize-horizontal{max-width:100%;resize:horizontal}.resize-both{max-width:100%;min-height:2em;resize:both}
table.sticky-header{z-index:500;top:0;margin-top:0;background-color:#fff}
.system-status-counter__status-icon{display:inline-block;width:25px;height:25px;vertical-align:middle}.system-status-counter__status-icon:before{display:block;content:"";background-repeat:no-repeat;background-position:center 2px;background-size:20px}.system-status-counter__status-icon--error:before{background-image:url(/core/themes/stable/css/system/components/../../../images/core/icons/e32700/error.svg)}.system-status-counter__status-icon--warning:before{background-image:url(/core/themes/stable/css/system/components/../../../images/core/icons/e29700/warning.svg)}.system-status-counter__status-icon--checked:before{background-image:url(/core/themes/stable/css/system/components/../../../images/core/icons/73b355/check.svg)}
.system-status-report-counters__item{width:100%;margin-bottom:.5em;padding:.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,.063)}@media screen and (min-width:60em){.system-status-report-counters{display:flex;flex-wrap:wrap;justify-content:space-between}.system-status-report-counters__item--half-width{width:49%}.system-status-report-counters__item--third-width{width:33%}}
.system-status-general-info__item{margin-top:1em;padding:0 1em 1em;border:1px solid #ccc}.system-status-general-info__item-title{border-bottom:1px solid #ccc}
body.drag{cursor:move}tr.region-title{font-weight:bold}tr.region-message{color:#999}tr.region-populated{display:none}tr.add-new .tabledrag-changed{display:none}.draggable a.tabledrag-handle{float:left;overflow:hidden;height:1.7em;margin-left:-1em;cursor:move;text-decoration:none}[dir="rtl"] .draggable a.tabledrag-handle{float:right;margin-right:-1em;margin-left:0}a.tabledrag-handle:hover{text-decoration:none}a.tabledrag-handle .handle{width:14px;height:14px;margin:-.4em .5em 0;padding:.42em .5em;background:url(/core/themes/stable/css/system/components/../../../images/core/icons/787878/move.svg) no-repeat 6px 7px}a.tabledrag-handle:hover .handle,a.tabledrag-handle:focus .handle{background-image:url(/core/themes/stable/css/system/components/../../../images/core/icons/000000/move.svg)}.touchevents .draggable td{padding:0 10px}.touchevents .draggable .menu-item__link{display:inline-block;padding:10px 0}.touchevents a.tabledrag-handle{width:40px;height:44px}.touchevents a.tabledrag-handle .handle{height:21px;background-position:40% 19px}[dir="rtl"] .touch a.tabledrag-handle .handle{background-position:right 40% top 19px}.touchevents .draggable.drag a.tabledrag-handle .handle{background-position:50% -32px}.tabledrag-toggle-weight-wrapper{text-align:right}[dir="rtl"] .tabledrag-toggle-weight-wrapper{text-align:left}.indentation{float:left;width:20px;height:1.7em;margin:-.4em .2em -.4em -.4em;padding:.42em 0 .42em .6em}[dir="rtl"] .indentation{float:right;margin:-.4em -.4em -.4em .2em;padding:.42em .6em .42em 0}
.tablesort{display:inline-block;width:16px;height:16px;background-size:100%}.tablesort--asc{background-image:url(/core/themes/stable/css/system/components/../../../images/core/icons/787878/twistie-down.svg)}.tablesort--desc{background-image:url(/core/themes/stable/css/system/components/../../../images/core/icons/787878/twistie-up.svg)}
div.tree-child{background:url(/core/themes/stable/css/system/components/../../../images/core/tree.png) no-repeat 11px center}div.tree-child-last{background:url(/core/themes/stable/css/system/components/../../../images/core/tree-bottom.png) no-repeat 11px center}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center}div.tree-child-horizontal{background:url(/core/themes/stable/css/system/components/../../../images/core/tree.png) no-repeat -11px center}
.form-type-checkbox .formtips-wrapper{display:inline-block}.formtip{display:inline-block;margin-left:.25em;background-color:#ccc;color:#333;border-radius:50%;width:1.2em;height:1.2em;line-height:1.2em;font-size:.7em;font-weight:bold;text-decoration:none;text-align:center;vertical-align:middle;letter-spacing:normal}.formtip::before{content:'?';color:#fff}.formtips-processed:not(.formtips-show){display:none !important}.formtips-processed.formtips-show{display:block}.description.formtips-processed p{margin-bottom:0}#debts-wrapper #edit-debts #edit-debts--description{position:absolute !important}#debts-wrapper #edit-debts #edit-debts--description:before{display:none !important}
.views-align-left{text-align:left}.views-align-right{text-align:right}.views-align-center{text-align:center}.views-view-grid .views-col{float:left}.views-view-grid .views-row{float:left;clear:both;width:100%}.views-display-link+.views-display-link{margin-left:.5em}
.footermap{margin:0 auto;padding:0;border:0}.footermap-col{display:inline-block;margin:0 1em;vertical-align:top;padding:0 5px}.footermap-col-heading{text-align:center}.footermap-item{display:block;list-style:none inside none}
#block-whitelabelblock lendme-root ul li,#block-lendme-content lendme-root ul li{list-style:none}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .tab .tab-button .arrow-left,.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .tab .tab-button .arrow-right,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .tab .tab-button .arrow-left,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .tab .tab-button .arrow-right{display:block}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .tab .tab-button .arrow-color,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .tab .tab-button .arrow-color{border-top:5px solid #6ab5d9;border-right:5px solid #6ab5d9}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .tab .tablinks,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .tab .tablinks{box-shadow:0 -25px 44px -25px rgba(0,0,0,.43) inset;font-size:13px;padding:0 25px;background:#6ab5d9}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .tab .tablinks.normal-loan-tab,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .tab .tablinks.normal-loan-tab{background:#fff}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .tab .tablinks.refinance-loan-tab,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .tab .tablinks.refinance-loan-tab{background:#fff}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .tab .refinance-loan-tab,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .tab .refinance-loan-tab{box-shadow:none}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .tab .normal-loan-tab,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .tab .normal-loan-tab{box-shadow:none}.path-ansoeg-om-forbrugslaan-sektion-to #block-lendme-content .details-container{display:none}.page-container .page-header .header-bar .section{background:none}.page-container .page-content-container .offset-container .section{background:none;padding:0;color:#000;margin-top:0}.page-container .page-content-container .offset-container lendme-root .inputs-container{padding:0 20px;margin-bottom:50px}.page-container .page-content-container .offset-container lendme-root .refinance-loan{padding:0 2%}.page-container .page-content-container .offset-container lendme-root .refinance-loan .refinance-title{margin:3% 0 3% 0}.page-container .page-content-container .offset-container lendme-root .refinance-loan .refinance-title h1{color:#6a6a6a;font-family:"Montserrat Thin";font-size:20px;margin-bottom:1%}.page-container .page-content-container .offset-container lendme-root .refinance-loan .refinance-title h3{color:#6a6a6a;font-family:"Montserrat Semi Bold";font-size:30px}.page-container .page-content-container .offset-container lendme-root .refinance-loan #refinance-loan-inputs h4{color:#000;text-align:left;margin:10px 0 -10px 0 !important;font-family:"Montserrat Extra Light";font-size:15px}.page-container .page-content-container .offset-container lendme-root .refinance-loan #refinance-loan-inputs form .add-debt{text-align:left;margin:1% 0 7%}.page-container .page-content-container .offset-container lendme-root .refinance-loan #refinance-loan-inputs form .add-debt button{font-family:"Montserrat Medium"}.page-container .page-content-container .offset-container lendme-root .refinance-loan #refinance-loan-inputs input-slider form{margin:25px 0 50px}.page-container .page-content-container .offset-container lendme-root .refinance-loan #refinance-loan-inputs input-debt input-radios form{margin:0 0 7%}.page-container .page-content-container .offset-container lendme-root .refinance-loan #refinance-loan-inputs input-debt input-number form{margin:-5% 0 5% 0}.page-container .page-content-container .offset-container lendme-root .refinance-loan #refinance-loan-inputs .refinance-loan-overview{margin-bottom:50px}.page-container .page-content-container .offset-container lendme-root .refinance-loan #refinance-loan-overview refinance-loan-details .details-container{margin-top:10px;padding:40px 18%}.page-container .page-content-container .offset-container lendme-root .refinance-loan #refinance-loan-overview b{display:none}.page-container .page-content-container .offset-container lendme-root .refinance-loan #refinance-loan-inputs,.page-container .page-content-container .offset-container lendme-root .refinance-loan #refinance-loan-overview,.page-container .page-content-container .offset-container lendme-root .refinance-loan #refinance-step1-inputs{padding:20px 3%}.page-container .page-content-container .offset-container lendme-root .refinance-loan #refinance-step1-inputs .refinance-loan-overview{margin-bottom:50px}.page-container .page-content-container .offset-container lendme-root .refinance-loan #refinance-step1-inputs .refinance-loan-overview refinance-loan-details .details-container{margin-top:10px}.page-container .page-content-container .offset-container lendme-root .refinance-loan #refinance-step1-inputs form input-text form div{margin-bottom:10px}.page-container .page-content-container .offset-container lendme-root .refinance-loan #refinance-step1-inputs b{display:none}.page-container .page-content-container .offset-container lendme-root .refinance-loan #refinance-step1-inputs .step1-inputs{margin-bottom:50px}.page-container .layout-container{padding:0}.page-container .layout-container .form-container{padding:0}.page-container .layout-container .views-element-container .banks-carousel{background:#f0f0f0;padding-bottom:0}.page-container .layout-container .views-element-container .banks-carousel .banks-carousel-items{box-shadow:none}.step-2,.step-1{padding:20px}.step-2 .form-wrap>form,.step-1 .form-wrap>form,.co-step2 .form-wrap>form{width:100% !important;padding:20px 5%;justify-content:space-around}.step-2 .form-wrap>h1,.step-2 .form-wrap>h3,.step-1 .form-wrap>h1,.step-1 .form-wrap>h3,.co-step2 .form-wrap>h1,.co-step2 .form-wrap>h3{font-family:"Montserrat Thin";color:#555 !important;text-align:center;text-transform:uppercase;padding:1% 0}.step-2 .form-wrap>h3,.step-1 .form-wrap>h3,.co-step2 .form-wrap>h3{font-family:"Montserrat Semi Bold"}.step-2 .form-wrap>h1,.step-1 .form-wrap>h1,.co-step2 .form-wrap>h1{padding-top:3%}.step-1{-webkit-box-shadow:0 -10px 130px -20px rgba(0,0,0,.43);-moz-box-shadow:0 -10px 130px -20px rgba(0,0,0,.43);box-shadow:0 -10px 130px -20px rgba(0,0,0,.43);padding:0;background:#fff}.step-1 .form-wrap>form{padding:0}.step-2{padding:0}.step-2 .loan-info-container{flex-basis:35%;background:#fff;height:fit-content !important;top:100px;border:1px solid #e6e6e6;padding:30px 40px;margin:40px 0;display:none}.step-2 .loan-info-container .details-container{padding:0;border:0}.step-2 h1,.step-2 h3{width:100% !important}.step-2 .input-container{flex-basis:60%}.step-2 .input-container .codebtor-section{padding:5%;background:#89979d;margin-top:-15px;color:#fff;font-family:"Montserrat Light"}.step-2 .input-container .codebtor-section form div:nth-child(1){color:#fff}.step-2 .input-container .codebtor-section section input-text label,.step-2 .input-container .codebtor-section input-cpr label,.step-2 .input-container .codebtor-section input-email label{color:#fff}.co-step2{margin-bottom:50px}.co-step2 h1{color:black !important}@media screen and (min-width:1000px){.loader{margin-top:-200px}}.loader{height:1000px;width:1400px;background:white;display:flex;align-items:center;box-shadow:0 -10px 130px -20px rgba(0,0,0,.43)}.lds-ring{display:inline-block;position:relative;width:64px;height:64px;margin:0 auto}.lds-ring div{box-sizing:border-box;display:block;position:absolute;width:51px;height:51px;margin:6px;border:6px solid #e1e6e9;border-radius:50%;animation:lds-ring 1.2s cubic-bezier(0.5,0,.5,1) infinite;border-color:#e1e6e9 transparent transparent transparent}.lds-ring div:nth-child(1){animation-delay:-.45s}.lds-ring div:nth-child(2){animation-delay:-.3s}.lds-ring div:nth-child(3){animation-delay:-.15s}@keyframes lds-ring{0%{transform:rotate(0)}100%{transform:rotate(360deg)}}@media screen and (max-width:770px){.page-container .page-content-container .inputs-container input-text .wrapper,.page-container .page-content-container .inputs-container input-cpr .wrapper,.page-container .page-content-container .inputs-container input-email .wrapper,.page-container .page-content-container .refinance-loan input-text .wrapper,.page-container .page-content-container .refinance-loan input-cpr .wrapper,.page-container .page-content-container .refinance-loan input-email .wrapper,.page-container .page-content-container .step-2 input-text .wrapper,.page-container .page-content-container .step-2 input-cpr .wrapper,.page-container .page-content-container .step-2 input-email .wrapper,.page-container .page-content-container .codebtor-section input-text .wrapper,.page-container .page-content-container .codebtor-section input-cpr .wrapper,.page-container .page-content-container .codebtor-section input-email .wrapper{margin-bottom:22px}}.page-container .page-content-container .inputs-container input-text .wrapper .title,.page-container .page-content-container .inputs-container input-cpr .wrapper .title,.page-container .page-content-container .inputs-container input-email .wrapper .title,.page-container .page-content-container .refinance-loan input-text .wrapper .title,.page-container .page-content-container .refinance-loan input-cpr .wrapper .title,.page-container .page-content-container .refinance-loan input-email .wrapper .title,.page-container .page-content-container .step-2 input-text .wrapper .title,.page-container .page-content-container .step-2 input-cpr .wrapper .title,.page-container .page-content-container .step-2 input-email .wrapper .title,.page-container .page-content-container .codebtor-section input-text .wrapper .title,.page-container .page-content-container .codebtor-section input-cpr .wrapper .title,.page-container .page-content-container .codebtor-section input-email .wrapper .title{color:#555}.page-container .page-content-container .inputs-container input-text .wrapper .content input,.page-container .page-content-container .inputs-container input-cpr .wrapper .content input,.page-container .page-content-container .inputs-container input-email .wrapper .content input,.page-container .page-content-container .refinance-loan input-text .wrapper .content input,.page-container .page-content-container .refinance-loan input-cpr .wrapper .content input,.page-container .page-content-container .refinance-loan input-email .wrapper .content input,.page-container .page-content-container .step-2 input-text .wrapper .content input,.page-container .page-content-container .step-2 input-cpr .wrapper .content input,.page-container .page-content-container .step-2 input-email .wrapper .content input,.page-container .page-content-container .codebtor-section input-text .wrapper .content input,.page-container .page-content-container .codebtor-section input-cpr .wrapper .content input,.page-container .page-content-container .codebtor-section input-email .wrapper .content input{height:50px;background-color:#fff;border:1px solid #dadee1}.page-container .page-content-container .inputs-container input-text .wrapper .content input:hover,.page-container .page-content-container .inputs-container input-cpr .wrapper .content input:hover,.page-container .page-content-container .inputs-container input-email .wrapper .content input:hover,.page-container .page-content-container .refinance-loan input-text .wrapper .content input:hover,.page-container .page-content-container .refinance-loan input-cpr .wrapper .content input:hover,.page-container .page-content-container .refinance-loan input-email .wrapper .content input:hover,.page-container .page-content-container .step-2 input-text .wrapper .content input:hover,.page-container .page-content-container .step-2 input-cpr .wrapper .content input:hover,.page-container .page-content-container .step-2 input-email .wrapper .content input:hover,.page-container .page-content-container .codebtor-section input-text .wrapper .content input:hover,.page-container .page-content-container .codebtor-section input-cpr .wrapper .content input:hover,.page-container .page-content-container .codebtor-section input-email .wrapper .content input:hover{box-shadow:0 1px 6px 0 rgba(32,33,36,.28)}.page-container .page-content-container .inputs-container input-text .wrapper .content input.ng-valid,.page-container .page-content-container .inputs-container input-cpr .wrapper .content input.ng-valid,.page-container .page-content-container .inputs-container input-email .wrapper .content input.ng-valid,.page-container .page-content-container .refinance-loan input-text .wrapper .content input.ng-valid,.page-container .page-content-container .refinance-loan input-cpr .wrapper .content input.ng-valid,.page-container .page-content-container .refinance-loan input-email .wrapper .content input.ng-valid,.page-container .page-content-container .step-2 input-text .wrapper .content input.ng-valid,.page-container .page-content-container .step-2 input-cpr .wrapper .content input.ng-valid,.page-container .page-content-container .step-2 input-email .wrapper .content input.ng-valid,.page-container .page-content-container .codebtor-section input-text .wrapper .content input.ng-valid,.page-container .page-content-container .codebtor-section input-cpr .wrapper .content input.ng-valid,.page-container .page-content-container .codebtor-section input-email .wrapper .content input.ng-valid{border:1px solid #5ba881;background-color:#cfe8db}.page-container .page-content-container .input-inline{margin-top:25px}.page-container .page-content-container .input-inline input-text input{background-color:#fff;margin:0}.page-container .page-content-container input-radios form .title div{font-family:"Montserrat Light";font-size:15px;color:#555}.page-container .page-content-container input-radios form div input:checked+label{background-color:#cfe8db !important;color:#176d1a !important;border:1px solid #4caf50}.page-container .page-content-container input-radios form div div{border:0 !important}.page-container .page-content-container input-radios form div div label{border:1px solid #d7d7d7}.page-container .page-content-container input-email form .email-suggestion{font-family:"Montserrat Light";margin:-15px 0 5px 0;font-size:14px;padding:0 0 0 10px;background:#5ba881;color:#fff;border:0}.page-container .page-content-container input-date-picker form input{background:#fff;border:1px solid #dadee1}.page-container .page-content-container input-date-picker form input:hover{box-shadow:0 1px 6px 0 rgba(32,33,36,.28)}.page-container .page-content-container input-date-picker .dp-popup{box-shadow:0 1px 10px 1px rgba(0,0,0,.1);top:5px;border:1px solid rgba(0,0,0,.2)}.page-container .page-content-container input-date-picker .dp-popup::before{content:"";display:inline-block;border-left:7px solid transparent;border-right:7px solid transparent;border-bottom:7px solid rgba(0,0,0,.15);border-top:0;border-bottom-color:rgba(0,0,0,.2);position:absolute;top:-7px;left:-1px}.page-container .page-content-container input-date-picker .dp-popup::after{content:"";display:inline-block;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;border-top:0;position:absolute;top:-6px;left:0}.page-container .page-content-container input-date-picker .dp-popup dp-month-calendar .dp-month-calendar-container .dp-calendar-wrapper{padding:0 20px 20px}.page-container .page-content-container input-date-picker .dp-popup dp-month-calendar .dp-month-calendar-container .dp-calendar-wrapper .dp-calendar-month{background:none}.page-container .page-content-container input-date-picker .dp-popup dp-month-calendar .dp-month-calendar-container .dp-calendar-wrapper .dp-calendar-month.dp-current-month{background:#f0f0f0}.page-container .page-content-container input-date-picker .dp-popup dp-month-calendar .dp-month-calendar-container .dp-calendar-wrapper .dp-calendar-month.dp-selected{background:#3e6675 !important;color:#fff}.page-container .page-content-container input-date-picker .dp-popup dp-month-calendar .dp-month-calendar-container dp-calendar-nav .dp-calendar-nav-left::before,.page-container .page-content-container input-date-picker .dp-popup dp-month-calendar .dp-month-calendar-container dp-calendar-nav .dp-calendar-nav-right::before{color:#3e6675 !important}.page-container .page-content-container input-date-picker .dp-popup dp-month-calendar .dp-month-calendar-container dp-calendar-nav .dp-calendar-nav-container{background:none}.page-container .page-content-container input-date-picker .dp-popup dp-month-calendar .dp-month-calendar-container dp-calendar-nav .dp-calendar-nav-container .dp-nav-header{color:#3e6675}.page-container .page-content-container input-checkbox form label div label:before{width:35px;height:35px;background:#fff;border:1px solid #dadee1}.page-container .page-content-container input-checkbox form label div label:after{left:12px;top:16px}.page-container .page-content-container input-checkbox form>label{color:#555}.page-container .page-content-container input-checkbox input:checked+label:after{content:"";position:absolute;left:12px !important;top:20px !important;background:#fff;width:4px;height:4px;box-shadow:2px 0 0 #fff,4px 0 0 #fff,4px -2px 0 #fff,4px -4px 0 #fff,4px -6px 0 #fff,4px -8px 0 #fff;-webkit-transform:rotate(45deg);transform:rotate(45deg)}.page-container .page-content-container input-checkbox input-error .input-error{display:none}.page-container .page-content-container input-text input:hover{box-shadow:0 1px 6px 0 rgba(32,33,36,.28)}.page-container .page-content-container input-radios .valid:hover{z-index:1;box-shadow:0 1px 6px 0 rgba(32,33,36,.28)}.page-container .page-content-container input-button div button{width:50%;text-transform:uppercase}.page-container .page-content-container input-select label,.page-container .page-content-container input-select-search label{color:#555}.page-container .page-content-container input-select ng-select:hover,.page-container .page-content-container input-select-search ng-select:hover{box-shadow:0 1px 6px 0 rgba(32,33,36,.28)}.page-container .page-content-container input-select ng-select .ng-arrow-wrapper,.page-container .page-content-container input-select-search ng-select .ng-arrow-wrapper{background-color:#f0f0f0}.page-container .page-content-container input-select ng-select .ng-select-container .ng-value-container .ng-placeholder,.page-container .page-content-container input-select-search ng-select .ng-select-container .ng-value-container .ng-placeholder{font-family:"Montserrat Light";font-size:16px;color:#444 !important}.page-container .page-content-container input-select ng-select .ng-select-container .ng-value-container .ng-value,.page-container .page-content-container input-select-search ng-select .ng-select-container .ng-value-container .ng-value{font-size:15px}.page-container .page-content-container input-select ng-select .ng-select-container .ng-value-container .ng-value .ng-value-label,.page-container .page-content-container input-select-search ng-select .ng-select-container .ng-value-container .ng-value .ng-value-label{font-family:"Montserrat Light"}.page-container .page-content-container input-select ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option,.page-container .page-content-container input-select-search ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{background-color:#f5fbfe !important;border-bottom:1px solid #99baca !important;font-family:"Montserrat Light";text-align:left}.page-container .page-content-container input-select ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked,.page-container .page-content-container input-select-search ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked{background:#4c7a8c !important;color:#fff}.page-container .page-content-container input-select ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,.page-container .page-content-container input-select-search ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected{color:#000}.page-container .page-content-container input-select ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked,.page-container .page-content-container input-select-search ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked{color:#fff}.page-container .page-content-container input-select ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-option-label,.page-container .page-content-container input-select-search ng-select .ng-dropdown-panel .ng-dropdown-panel-items .ng-option .ng-option-label{font-family:"Montserrat Light"}.page-container .page-content-container input-select-search ng-select.select-search.ng-select-single .ng-select-container{display:none}.page-container .page-content-container input-select-search ng-select.select-search .ng-dropdown-panel.ng-select-bottom{-webkit-overflow-scrolling:auto}.page-container .page-content-container input-select-search ng-select.select-search .ng-dropdown-panel.ng-select-bottom::-webkit-scrollbar-track{-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#f5f5f5}.page-container .page-content-container input-select-search ng-select.select-search .ng-dropdown-panel.ng-select-bottom::-webkit-scrollbar{-webkit-appearance:none;width:7px;background-color:#f5f5f5}.page-container .page-content-container input-select-search ng-select.select-search .ng-dropdown-panel.ng-select-bottom::-webkit-scrollbar-thumb{border-radius:10px;-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);background-color:#89979d}.page-container .page-content-container ul li button{background:url(/themes/lendme/images/delete.png) 50% 50% no-repeat !important}.page-container .page-content-container input-number form .wrapper .content input,.page-container .page-content-container input-select-search form .wrapper .content input{display:block;width:100%;height:49px;background-color:#fff !important;border:1px solid #dadee1 !important;outline:0;margin:5px 0 8px;padding:0 10px;box-sizing:border-box}.page-container .page-content-container input-number form .wrapper .content input.ng-invalid.ng-touched,.page-container .page-content-container input-select-search form .wrapper .content input.ng-invalid.ng-touched{border:1px solid #dd8f8f !important;background-color:#eec7c7 !important}.page-container .page-content-container input-number form .wrapper .content input.ng-valid,.page-container .page-content-container input-select-search form .wrapper .content input.ng-valid{border:1px solid #5ba881 !important;background-color:#cfe8db !important}.page-container .page-content-container input-number form .wrapper .content input:hover,.page-container .page-content-container input-select-search form .wrapper .content input:hover{box-shadow:0 1px 6px 0 rgba(32,33,36,.28)}.page-container .page-content-container input-number label,.page-container .page-content-container input-select-search label{color:#555}.page-container .page-content-container input-number form div div .input-suffix{font-family:"Montserrat Light"}.page-container .page-content-container b{font-family:"Montserrat Regular"}.page-container .page-content-container input-debt input-number .error .input-error span{color:#ffc0bc}.page-container .page-content-container input-debt input-number input:hover{box-shadow:0 1px 6px 0 rgba(32,33,36,.28)}.page-container .page-content-container .details-container .overview-wrap ul li span{font-family:"Montserrat Regular";font-size:12px}.page-container .page-content-container .details-container .overview-wrap ul li span:nth-child(2){font-family:"Montserrat Medium"}.page-container .page-content-container .details-container .overview-wrap ul li:not(:nth-child(3)) span:nth-child(2){font-family:"Montserrat Light"}.page-container .page-content-container .details-container .overview-wrap ul li:nth-child(3) span{font-family:"Montserrat Medium"}.page-container .page-content-container .details-container .monthly-payment-wrap h3{text-transform:none;font-family:"Montserrat Regular"}.page-container .page-content-container .details-container .monthly-payment-wrap ul li{font-family:"Montserrat Regular"}.page-container .page-content-container .details-container .monthly-payment-wrap ul li monthly-payment{font-family:"Montserrat Medium"}.page-container .page-content-container .details-container .monthly-payment-wrap ul li monthly-payment span{font-family:"Montserrat Medium"}.page-container .page-content-container .details-container .loan-details h3{font-family:"Montserrat Semi Bold";text-transform:none;margin:0}.page-container .page-content-container .details-container .loan-details loan-details .slider_text{font-family:"Montserrat Regular"}.page-container #refinance-step1-inputs .change-loan button{font-family:"Montserrat Medium"}.step-1 .form-container{padding:0}.step-1 .purpose-input input-select .wrapper .content .ng-select-container{border:1px solid #dadee1}.step-1 input-checkbox .wrapper>div:nth-child(1){font-family:"Montserrat Light";font-size:15px;color:#555;margin-bottom:2px}.step-1 input-checkbox .wrapper .title{align-items:baseline !important}.step-1 input-checkbox .wrapper .title input+label:before{width:35px !important;height:35px !important;background:#fff !important;border:1px solid #dadee1 !important;margin:4px 10px 0 0}.step-1 input-checkbox .wrapper .title input:checked+label:before{background:#5ba881 !important;border:1px solid #5ba881 !important}.step-1 input-checkbox .wrapper .content p{color:#555;font-size:12px}.step-1 input-checkbox form{margin-top:0}.step-1 input-checkbox form>label{font-family:"Montserrat Light";margin:0}.step-1 .refinance-loan #refinance-loan-inputs ul li button{top:80px !important}.step-1 .refinance-loan #refinance-loan-inputs .refinance-loan-overview refinance-loan-details .details-container{padding:35px 90px}.step-1 .refinance-loan #refinance-step1-inputs .step1-inputs label{color:#555}.step-1 .refinance-loan #refinance-step1-inputs .refinance-loan-overview refinance-loan-details .details-container .overview-wrap ul li span{font-size:15px}.refinance-loan #refinance-loan-inputs input-button div button,.refinance-loan #refinance-loan-overview input-button div button,.refinance-loan #refinance-step1-inputs input-button div button{width:100%}.step-2 input-number form label,.co-step2 input-number form label{display:block}.step-2 input-checkbox .wrapper input.ng-invalid.ng-touched+label:before{border:1px solid #dd8f8f !important;background-color:#eec7c7 !important}.step-2 input-text .wrapper .content input.ng-valid,.co-step2 input-text .wrapper .content input.ng-valid{border:1px solid #5ba881 !important;background-color:#cfe8db !important}.step-2 input-checkbox .wrapper input.ng-invalid.ng-touched+label:before,.co-step2 input-checkbox .wrapper input.ng-invalid.ng-touched+label:before{border:1px solid #dd8f8f !important;background-color:#eec7c7 !important}.step-2 input-checkbox .wrapper .title div,.co-step2 input-checkbox .wrapper .title div{font-family:"Montserrat Semi Bold"}.step-2 input-checkbox .wrapper .title input+label:before,.co-step2 input-checkbox .wrapper .title input+label:before{width:35px !important;height:35px !important;background:#fff !important;border:1px solid #dadee1 !important;margin:4px 10px 0 0}.step-2 input-checkbox .wrapper .title input:checked+label:before,.co-step2 input-checkbox .wrapper .title input:checked+label:before{background:#5ba881 !important;border:1px solid #5ba881 !important}.step-2 .input-container .codebtor-section input-radios form .wrapper .title div,.co-step2 .input-container .codebtor-section input-radios form .wrapper .title div{font-family:"Montserrat Light"}.step-2 .input-container .codebtor-section input-radios form .wrapper .content .valid input:checked+label,.co-step2 .input-container .codebtor-section input-radios form .wrapper .content .valid input:checked+label{background-color:#cfe8db !important;color:#176d1a !important;border-color:#526e7a !important}.page-content-container .offset-container #block-whitelabelblock .debt-section input-debt input-radios>form>div div{border:0}.page-content-container .offset-container #block-whitelabelblock .debt-section input-debt input-radios>form>div div input:checked+label{border:1px solid #4caf50}.page-content-container .offset-container #block-whitelabelblock .debt-section input-debt input-radios>form>div div input+label{border:1px solid #d7d7d7}.page-content-container .offset-container #block-whitelabelblock input-date-picker form{font-family:"Montserrat Light";font-size:15px;color:#555}.page-content-container .offset-container #block-whitelabelblock input-date-picker form input::placeholder{color:#444}.page-content-container .offset-container #block-whitelabelblock input-date-picker form input.ng-valid{border:1px solid #5ba881 !important;background-color:#cfe8db !important}.page-content-container .offset-container #block-whitelabelblock .debt-section{margin-top:40px}.page-content-container .offset-container #block-whitelabelblock .debt-section input-debt input-number label{color:#fff}.page-content-container .offset-container #block-whitelabelblock .debt-section input-debt input-number form{margin-top:-10px}.page-content-container .offset-container #block-whitelabelblock .debt-section input-debt input-number form div{background:#89979d}.page-content-container .offset-container #block-whitelabelblock .debt-section input-debt input-number form .wrapper{background:#89979d;z-index:10;position:relative;padding:20px;margin-top:-15px !important}.page-content-container .offset-container #block-whitelabelblock .debt-section input-debt input-number form .wrapper .error{background:none}@media screen and (max-width:480px){.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .slider-container input-sliders form ul li,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .slider-container input-sliders form ul li{flex-basis:32%}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .refinance-loan .refinance-title,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .refinance-loan .refinance-title{margin:4% 0 2% 0}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .refinance-loan .refinance-title h1,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .refinance-loan .refinance-title h1{font-size:30px}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .refinance-loan .refinance-title h3,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .refinance-loan .refinance-title h3{font-size:30px}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .refinance-loan #refinance-loan-inputs,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .refinance-loan #refinance-loan-inputs{text-align:left;flex-basis:100%}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .refinance-loan #refinance-loan-overview,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .refinance-loan #refinance-loan-overview{flex-basis:100%}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .refinance-loan #refinance-loan-overview b,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .refinance-loan #refinance-loan-overview b{display:block}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .refinance-loan #refinance-loan-inputs .refinance-loan-overview refinance-loan-details .details-container,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .refinance-loan #refinance-loan-inputs .refinance-loan-overview refinance-loan-details .details-container{padding:35px 20px}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .refinance-loan #refinance-step1-inputs,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .refinance-loan #refinance-step1-inputs{flex-basis:100%}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .refinance-loan #refinance-step1-inputs .refinance-loan-overview refinance-loan-details .details-container,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .refinance-loan #refinance-step1-inputs .refinance-loan-overview refinance-loan-details .details-container{margin-top:40px;padding:35px 90px}}@media screen and (min-width:770px){.step-1 input-select-search ng-select.select-search .ng-dropdown-panel.ng-select-bottom{max-height:217px}.step-2,.co-step2{padding:0;margin-top:-200px;background:white;-webkit-box-shadow:0 -10px 130px -20px rgba(0,0,0,.43);-moz-box-shadow:0 -10px 130px -20px rgba(0,0,0,.43);box-shadow:0 -10px 130px -20px rgba(0,0,0,.43)}.step-2 .input-container,.co-step2 .input-container{flex-basis:80%}.step-2 .debt-section,.co-step2 .debt-section{margin-top:0 !important}.step-2 .banking-container,.co-step2 .banking-container{padding-bottom:0 !important}.step-2 .banking-container .input-inline input-text .wrapper,.co-step2 .banking-container .input-inline input-text .wrapper{margin-bottom:0 !important}.path-ansoeg-om-forbrugslaan-sektion-to #block-lendme-content .details-container{display:none}.page-container .page-content-container .offset-container .co-step2 .form-wrap{width:800px}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .tab .tablinks,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .tab .tablinks{font-size:20px}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .slider-container input-sliders form ul,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .slider-container input-sliders form ul{padding:0 50px}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .slider-container input-sliders form ul li,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .slider-container input-sliders form ul li{flex-basis:30%}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .refinance-loan #refinance-loan-inputs,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .refinance-loan #refinance-loan-inputs{flex-basis:100%}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .refinance-loan #refinance-loan-inputs ul li button,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .refinance-loan #refinance-loan-inputs ul li button{right:-50px !important}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .refinance-loan #refinance-loan-inputs form,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .refinance-loan #refinance-loan-inputs form{width:100%}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .refinance-loan #refinance-loan-inputs form .refinance-inputs,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .refinance-loan #refinance-loan-inputs form .refinance-inputs{max-width:none}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .refinance-loan #refinance-loan-inputs form .refinance-loan-overview,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .refinance-loan #refinance-loan-inputs form .refinance-loan-overview{flex-basis:50%;max-width:none}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .refinance-loan #refinance-loan-inputs form .refinance-loan-overview .overview-wrap ul li span,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .refinance-loan #refinance-loan-inputs form .refinance-loan-overview .overview-wrap ul li span{font-size:15px}.page-container .page-content-container .offset-container #block-whitelabelblock lendme-root .refinance-loan #refinance-loan-inputs .refinance-loan-overview refinance-loan-details .details-container,.page-container .page-content-container .offset-container #block-lendme-content lendme-root .refinance-loan #refinance-loan-inputs .refinance-loan-overview refinance-loan-details .details-container{padding:35px 90px}}@media screen and (min-width:1000px){.step-1{margin-top:-200px}}@media screen and (min-width:1200px){.step-1 .refinance-loan #refinance-loan-inputs ul li button{top:10px !important}.step-2 .loan-info-container{display:block}.page-content-container .offset-container #block-whitelabelblock .input-container{flex-basis:60%;padding:0 40px}}#block-whitelabelblock lendme-root .slider-container input-sliders form>div:nth-child(2),#block-lendme-content lendme-root .slider-container input-sliders form>div:nth-child(2){background:#e1e6e9;color:#4a4a4a;padding:20px 8%;position:relative;margin-bottom:30px}#block-whitelabelblock lendme-root .slider-container input-sliders form>div:nth-child(2) loan-details span,#block-lendme-content lendme-root .slider-container input-sliders form>div:nth-child(2) loan-details span{font-family:"Montserrat Light"}#block-whitelabelblock lendme-root .slider-container input-sliders form>div:nth-child(2):after,#block-lendme-content lendme-root .slider-container input-sliders form>div:nth-child(2):after{display:block;content:"a";width:30px;height:15px;margin-left:-10px;color:#e1e6e9;font:1.875em "lendme";position:absolute;right:49%;bottom:-4px}#block-whitelabelblock lendme-root .slider-container input-sliders form ul,#block-lendme-content lendme-root .slider-container input-sliders form ul{padding:2% 20px}#block-whitelabelblock lendme-root .slider-container input-sliders form ul li:nth-child(3) div,#block-lendme-content lendme-root .slider-container input-sliders form ul li:nth-child(3) div{font-family:"Montserrat Light";font-size:15px;color:#365c6a}#block-whitelabelblock lendme-root .slider-container input-sliders form ul li:nth-child(3) monthly-payment,#block-lendme-content lendme-root .slider-container input-sliders form ul li:nth-child(3) monthly-payment{font-family:"Montserrat Extra Light";font-size:40px;color:#555}#block-whitelabelblock lendme-root .slider-container input-sliders form ul li:nth-child(3) monthly-payment span,#block-lendme-content lendme-root .slider-container input-sliders form ul li:nth-child(3) monthly-payment span{font-family:"Montserrat Extra Light"}#block-whitelabelblock lendme-root input-slider form .slider label,#block-lendme-content lendme-root input-slider form .slider label{font-size:15px;color:#365c6a}#block-whitelabelblock lendme-root input-slider form .slider .ng5-slider-bubble.ng5-slider-model-value,#block-lendme-content lendme-root input-slider form .slider .ng5-slider-bubble.ng5-slider-model-value{bottom:22px}#block-whitelabelblock lendme-root input-slider form .slider .slider-amount,#block-lendme-content lendme-root input-slider form .slider .slider-amount{font-size:40px;font-family:"Montserrat Thin";color:#555}#block-whitelabelblock lendme-root input-slider form .slider .slider-amount span,#block-lendme-content lendme-root input-slider form .slider .slider-amount span{font-family:"Montserrat Thin"}#block-whitelabelblock lendme-root input-slider form .slider .ng5-slider,#block-lendme-content lendme-root input-slider form .slider .ng5-slider{margin:15px 0 15px}#block-whitelabelblock lendme-root input-slider form .slider .ng5-slider .ng5-slider-selection,#block-lendme-content lendme-root input-slider form .slider .ng5-slider .ng5-slider-selection{background:#5ba881;visibility:visible}#block-whitelabelblock lendme-root input-slider form .slider .ng5-slider .ng5-slider-bar,#block-lendme-content lendme-root input-slider form .slider .ng5-slider .ng5-slider-bar{height:5px;border-radius:0}#block-whitelabelblock lendme-root input-slider form .slider .ng5-slider .ng5-slider-pointer,#block-lendme-content lendme-root input-slider form .slider .ng5-slider .ng5-slider-pointer{width:34px;height:34px;margin:auto;background-color:#fff;position:absolute;top:0;bottom:0;z-index:1;cursor:pointer;-webkit-animation:pulse 1.7s infinite;animation:pulse 1.7s infinite;border-radius:100px;border:5px solid #55aa7f}#block-whitelabelblock lendme-root input-slider form .slider .ng5-slider .ng5-slider-bubble.ng5-slider-limit,#block-lendme-content lendme-root input-slider form .slider .ng5-slider .ng5-slider-bubble.ng5-slider-limit{font-size:10px;font-family:"Montserrat Light";color:#656565 !important}.step-2 input-sliders form ul li:nth-child(3) div{font-family:"Montserrat Light";font-size:15px;color:#365c6a}.step-2 input-sliders form ul li:nth-child(3) div:nth-child(3){display:none}.step-2 input-sliders form ul li:nth-child(3) monthly-payment{font-family:"Montserrat Thin";font-size:40px;color:#555}.step-2 input-sliders form ul li:nth-child(3) monthly-payment span{font-family:"Montserrat Thin"}.step-2 input-sliders loan-details .slider_text{margin-bottom:30px;padding:2px 0;font-family:"Montserrat Light"}lendme-root #popup popup .popup-container .title{font-family:"Montserrat Medium";text-transform:uppercase;color:#254652}lendme-root #popup popup .popup-container .text{font-family:"Montserrat Light";text-align:center}lendme-root #popup popup .popup-container .buttons li button{background:#3e6675;font-family:"Montserrat Regular";padding:10px 25px}.nemid{margin-top:0;background:#fff}.nemid .nemid-text{padding-top:40px}.nemid .nemid-text h1{font:35px "Montserrat Semi Bold";line-height:35px;text-transform:none;color:#434343 !important}.nemid .nemid-text p{font:22px "Montserrat Light";color:#434343;margin-bottom:35px;margin-top:35px;padding:0 !important}.nemid .nemid-outer-container .nemid-container #nemid_iframe{border:0}@media screen and (min-width:760px){.nemid{margin-top:-200px;background:#fff}.nemid .nemid-text{padding-top:50px;width:100% !important}.nemid .nemid-outer-container{padding:70px 0 !important;background:url(/themes/lendme/images/bg-nemid.png) center/contain no-repeat}}
